<div class="header">
  <div class="header-center">
    <nav style="text-align: left;">
        <td><a href="/">← parent site</a></td>
    </nav>
    <a href="{{ site.baseurl }}/">
      <img id="icon" src="{{ site.baseurl }}/assets/images/icon.jpg"</img>
    </a>
    <h1 class="title">Lyre's Dictionary</h1>
    <a href="{{ site.baseurl }}/">home</a>&nbsp;&nbsp;
    <a href="{{ site.baseurl }}/blog">blog</a>&nbsp;&nbsp;
    <a href="{{ site.baseurl }}/about">about</a>&nbsp;&nbsp;
    <br><br>
    <div class="underline" style="width: 400px;"></div>
  </div>
</div>
