---
---

@import "main";

.header {
    text-align: center;
    width: 1000px;
    margin: 24px auto 8px;
}

.header #icon {
    height: 100px;
    border-radius: 50px;
}

.header h1 {
    margin-bottom: 8px;
}

.table {
    margin: 0 auto;
    width: 1000px;
    border-spacing: 12px;
}

.table-contents {
    display: block;
}

.table-side {
    width: 190px;
}

.sidebar {
    border-style: double;
    border-width: 3px;
    padding: 0px 12px 12px;
}
