---
---

@import "main";

.header-center {
    margin: 16px auto 0px;
    display: block;
    width: 400px;
}

.header {
    text-align: center;
    width: 1000px;
    margin: 8px auto 8px;
}

.header #icon {
    height: 80px;
    border-radius: 50px;
    margin: 8px 0px 0px;
}

.header h1 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.underline {
    background-color: gray;
    height: 1px;
    margin: auto;
}

.table {
    margin: 0 auto;
    width: 1200px;
    border-spacing: 32px 0px;
}

.table-contents {
    display: block;
}

.table-side {
    vertical-align: top;
    width: 190px;
}

.sidebar {
    border-style: double;
    border-width: 3px;
    padding: 0px 12px 12px;
    margin: 16px 0px 0px;
}

.footer {
    text-align: center;
    height: 24px;
}

a {
    line-height: 1.4;
}

p {
    line-height: 1.5;
}

div.excerpt {
    margin: 24px auto;
    padding: 0px 8px;
    width: 300px;
    border-width: 2px;
    border-style: outset;
    display: inherited;
}

.excerpt p {
    line-height: 1.6;
    margin: 8px 0px;
}

.excerpt span.title {
    font-weight: bold;
}

.excerpt span.body {
    
}
