<head>
	<meta charset="utf-8">
	<title>%TITLE%</title>
	<link rel="icon" type="image/x-icon" href="/favicon.ico">
	<link rel="stylesheet" href="/assets/style.css">
</head>
<body>
	<div class="header">
	  <div class="header-center">
	    <div style="width:80px; height: 80px; margin-right: 16px; vertical-align: middle; display: inline-block;">
		    <a href="http://www.lyresdictionary.com">
		      <img id="icon" src="/assets/images/logo.gif">
		    </a>
			</div>
	    <div style="vertical-align: middle; display: inline-block;">
		    <h2 style="margin: 8px 0px 0px;" class="title">Lyre’s Dictionary</h2>
		    <a href="/">home</a>&nbsp;&nbsp;
		    <a href="/blog">blog</a>&nbsp;&nbsp;
		    <a href="/about">about</a>&nbsp;&nbsp;
			</div>
	  </div>
	</div>

	<table style="margin: 0px auto; padding:0px; width: 716px; border-spacing: 0; display: block;">
		<tr>
			<td style="padding: 0;">
				<div class="word-panel" style="width: 350px;">
					<div class="word-panel-content">
					<div class="word-panel-title">Word of the day:</div>
					<!-- WOTD START -->
					<b>bibible</b> &#183; <i>adjective</i><br>able to be drunk.
					<!-- WOTD END -->
					</div>
				</div>
			</td>
			<td style="padding: 0"><div style="width: 12px; display: inline-block;"></div></td>
			<td style="height: 100%; padding: 0;">
				<div class="word-panel" style="width: 350px; text-align: center;">
					<div class="word-panel-content">
					<div class="word-panel-title">More words:</div>
					<a href="https://www.twitter.com/lyresdictionary">Twitter</a>  &#183;  <a href="https://botsin.space/@lyresdictionary">Mastodon</a>  &#183;  <a href="https://bsky.app/profile/lyresdictionary.com">Bluesky</a><br>  <a href="/wotd-feed.xml">Word of the Day RSS</a>
					</div>
				</div>
			</td>
		</tr>
	</table>

	<div class="page">
	<!-- PAGE CONTENTS START HERE -->